<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.richie.stride">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!--
        MDR Shit
        <activity android:name=".Therapist_View_Patients">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MeasurementActivity" />
        <activity android:name=".SensorActivity" />
        <activity android:name=".SessionActivity" />
        <activity android:name=".GraphActivity" />
        <activity android:name=".DataDisplayListActivity" />
        <activity android:name=".Therapist_Second_Screen" />
        <activity android:name=".Therapist_Performace_Options" />
        <activity android:name=".Therapist_Performance_Data" />
        <activity android:name=".Therapist_Program_Workout" />
        <activity android:name=".Therapist_Edit_Patient_Info"></activity>
        -->

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateAccountActivity" />
        <activity android:name=".Therapist_View_Patients" />
        <activity android:name=".Therapist_Second_Screen" />
        <activity android:name=".Therapist_Performace_Options" />
        <activity android:name=".Therapist_Performance_Data" />
        <activity android:name=".Therapist_Program_Workout" />
        <activity android:name=".Therapist_Edit_Patient_Info" />
        <activity android:name=".Patient_First_Screen" />
        <activity android:name=".Patient_Performance_Options" />
        <activity android:name=".Patient_View_Workouts" />
        <activity android:name=".Patient_Edit_Info" />
        <activity android:name=".Patient_Perform_Workout" />

        <!--
        Populator
        <activity android:name=".Database_Populator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->


        <!--
        <activity android:name=".Patient_Edit_Info">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->

        <service android:name="org.eclipse.paho.android.service.MqttService" />

        <activity android:name=".Therapist_Performance_Session_Data"></activity>
    </application>

</manifest>